body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.container-fluid {
  padding: 3% 15% 15%;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navagation Bar */

.navbar {
  padding-bottom: 3rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
  right: 30%;
}

/* Feature Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-row {
  margin: 8% 10%;
}

.feature-icon {
  color: #ef8172;
  margin: 2rem 0;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-text {
  color: #8f8f8f;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-image {
    transform: rotate(0);
    position: static;
  }
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 20% 12%;
}

/* Footer */
#footer {
  background-color: #fff;
  padding: 10% 12%;
}

.social-icon {
  size: 2rem;
  color: #000;
  margin: 12px;
}

.copyright {
  color: #8f8f8f;
  margin: 40px;
}